<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScavengerHunt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1896A88A1C8B27F300DEF049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1896A89E1C8B27F400DEF049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1896A8A91C8B27F400DEF049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
